/*
 * Base structure
 */

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar{
  margin: 0px -15px 30px -15px;
}

.logo {
    display: none;
    margin-bottom: 10px;
}

.logo h3{
    text-align: center;
}

.social-links{
    margin-top: 10px;
}

@media (min-width: 768px) {
  .sidebar {
    margin: 0 0;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
 
  .sidebar-nav{
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 15px;
    margin-left: -20px;
  }
 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  #main_menu {
    float: none;
    display: block;
  }

  #main_menu li {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li a {
    color: #317eac;
    padding: 12px 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif";
    font-size: 16px;
  }
  
  .navbar{
    background-image: none;
    background-color: #f5f5f5;
    border-bottom: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  
  .navbar-nav .active a {
    color: #fff;
    background-color: #428bca;
  }
    
  .navbar-nav .active a:hover, 
  .navbar-nav .active a:focus {
    color: #157ab5;
  }
  
  .logo {
    display: block;
    padding: 0px; 
  }
 
  .main {
    padding: 20px 40px;
  }
  
  .rightbar {
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-left: 1px solid #eee;
  }
  
}

.rightbar .page-header {
  margin-top: 0;
}

.main .page-header {
  margin-top: 0;
}

.section{
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
}

.centered{
  text-align: center;
}

.no-margin{
  margin: 0px;
}

.law_projects_logo{
  float: left;
  margin: 0px 10px;
  width: 80px;
  height: 80px;
}

.voting_icon{
  font-size: 48px;
}

.voting_party_icon{
  font-size: 18px;
}

.highlight{
  padding-left: 30px;
  background-color: #fff;
}

#myCarousel{
  margin-bottom: 30px;
}

#people_grid .panel-body{
  padding: 5px;
}

#people_grid > .row > div{
  padding: 0px 5px;
}
